<p> 
Confirme seu e-mail para termos certeza de que a solicitação partiu de você. 
A confirmação do seu e-mail é importante para enviarmos informações sobre sua conta Localhost.</p>
<p>Segue o link</p>
<a href={{confirmationLink}}>Confirmar o e-mail</a>
<p>Alguma dúvida? Acesse o Suporte da Stripe ou fale conosco.</p>
<p>Atenciosamente,</p>
<p>Localhost</p>
