<p>Ola,</p>
<p>Sua senha da Localhost foi atualizada com sucesso.</p>
<p>Se você não realizou essa ação, acesse <a href={{link}}>Alterar Senha</a> imediatamente para redefinir sua senha.</p> 
<p>Para analisar este e outros eventos ocorridos na sua conta Stripe, você pode acessar a página do histórico de 
  segurança nas configurações do Dashboard. Se você identificar alguma atividade suspeita na conta, entre em contato 
  conosco por meio de nosso site de suporte.</p>
 
 
